.env
*.env
*.json
*.key
*.pem
venv/
.venv/
env/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.manifest
*.spec
*.log
*.tmp
*.bak
*.swp
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
desktop.ini
.ipynb_checkpoints
*.sqlite3
*.db
.Python
python*.dll
.git/
poetry.lock
Pipfile.lock
